// Nav bar class 
.jsNavContainerShow
    top: 0px
    z-index: 10
    position: fixed

.jsNavContainerHide
    position: absolute

.jsNavBarHide,.jsNavBarShow
    transition: all cubic-bezier(.78,-0.35,.32,1.07) .5s
    background: #071828
    height: 0px
    border-radius: 0px 0px 20px 20px
    overflow: hidden

.jsNavBarShow
    height: 110px