$fontColor : white;


@mixin buttonClass($color) {
    position: relative;
    border-radius: 25px;
    color:$fontColor;
    background:$color;
    padding: 15px 30px 15px 30px;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    border: none;
}

%reset{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

@mixin sectionClass($hght, $color) {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background:$color;
    padding: 10px 10px 10px 10px;
}

@mixin donutClass($size, $locationX, $locationY) {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 250px - $size;
    height: 250px - $size;
    left:$locationX;
    top: $locationY;
    background: transparent;
    border: 150px solid #FB3B64;
    border-radius: 50%;
    box-shadow:0px 10px 30px rgba(0, 0, 0, 0.2);
}


body{
    font-family: 'Poppins', sans-serif;
    @extend %reset;
    overflow-x: hidden;
}

section{
    position: relative;
    @extend %reset;
}

h1,p{
    color: $fontColor;
    margin-bottom: 60px;
    font-size: 45px;
    font-weight: 500;
}

p{
   font-size: 16px; 
   font-weight: 400;
}

//---------------------------- // section1 //---------------------------- //
.Content1 .container{
    @include sectionClass(0,#071828);
}

nav{
    display:flex;
    // flex-flow: row wrap;
    align-items: start;
    justify-content:center;

    ul{
        display: flex;
        flex-flow: row wrap;

        li{
            position: relative;
            display: block;

            a{
                text-decoration: none;
                color: $fontColor;
                font-size: 12px;
                font-weight: 400;
                padding: 15px 20px 15px 20px;
                font-weight: 400;

            }
        }
    }
} 

button{
    @include buttonClass(#FB3B64);
    margin-top: -10px;
}

.Content1 #donut{
    @include donutClass(0, -250px, 100% / 2 - 10);
}

.IntroText{
    position: relative;
    width: 50%;
    left: 350px;
    
    .BtnAction button:last-child{
        background: #08A6E4;
        margin-left:30px; 
    }
}

img[alt="Background"]{
    position: absolute;
    left: calc(100% / 4);
    top:10%;
}



//---------------------------- // section2 //---------------------------- //
.Content2 .container{
    @include sectionClass(0,white);
}


.aboutText{
    position: absolute;
    display: block;
    text-align: center;
    width: 40%;
    
    left: calc(100% /3); 
    // display: flex;
    // flex-flow: row;
    // align-items: start;
    // justify-content: center;

    h1,p{
        color: black;
        margin: 20px;
    }

    p{
        font-size: 14px;
    }

}   


.details{
    position: absolute;
    text-align: left;
    left: 25%;
    width: 50%;
    top: 50%;

    h1,p{
        color: black;
        margin: 20px;
    }
    
    p{
        font-size: 14px;
    }
}


.Content2 img{
    position: absolute;
    left: calc(100% /2)
}

//---------------------------- // section3 //---------------------------- //
.Content3 .container{
    @include sectionClass(150,rgba(0,0,0,0.3));
    position: absolute;
}