* {
  margin: 0;
  padding: 0;
  left: 0px;
  top: 0px;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

button {
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 25px;
  color: white;
  background: #FB3B64;
  padding: 10px 20px 10px 20px;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
}

button:hover {
  background: transparent;
  border: 2px solid #FB3B64;
}

button:active {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

body, html, .Section3 .Intro, .Section4 .Slider {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}

body, html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

section {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-bottom: 20px;
}

.Container, nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.Content, .navContainer {
  padding: 0px 20px;
  width: 60pc;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  position: absolute;
  height: 0px;
  top: 20px;
  width: 100%;
  z-index: 2;
}

nav span {
  margin-left: -20px;
}

nav ul {
  display: block;
  margin-top: 20px;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 15px 20px 15px 20px;
  font-weight: 400;
  pointer-events: auto;
  display: block;
}

nav a:hover {
  color: #FB3B64;
}

#Menu {
  display: none;
}

.Section1 {
  background: #071828;
  color: white;
}

.Section1 .Container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../Img/Content1Img.png");
  background-repeat: no-repeat;
  background-position: -40% 10%;
}

.Section1 .Content {
  margin-top: 180px;
}

.Section1 .Content .BtnAction, .Section1 .Content h1, .Section1 .Content p {
  width: 70%;
  margin-bottom: 50px;
}

.Section1 .Content h1 {
  font-weight: 500;
  font-size: 4vw;
}

.Section1 .Content .BtnAction button {
  margin-right: 20px;
}

.Section1 .Content .BtnAction button:last-child {
  background: #08A6E4;
  margin-left: 30px;
}

.Section1 .Content .BtnAction button:last-child:hover {
  background: transparent;
  border: 2px solid #08A6E4;
}

.Intro {
  position: relative;
  padding: 0px 20%;
  text-align: center;
  margin-top: 50px;
}

.Section2 .details {
  margin-top: 18%;
  width: 60%;
}

.Section2 button {
  margin: 40px 0px 40px 0px;
  -webkit-box-shadow: 0px 1px 10px rgba(251, 59, 101, 0.575);
          box-shadow: 0px 1px 10px rgba(251, 59, 101, 0.575);
}

.Section2 button:hover {
  color: black;
}

.Section3 {
  position: relative;
  min-height: 150px;
  height: 150px;
}

.Section3 .Intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background: #071828e5;
}

.Section3 img {
  width: 120px;
  height: 40px;
  margin: 20px 0px 0px 20px;
  cursor: pointer;
}

.Section4 .Slider {
  position: relative;
  min-height: 500px;
  margin-top: 5%;
  background: rgba(149, 159, 220, 0.08);
  border-radius: 10px;
}

.Section4 button {
  position: relative;
  padding: 15px 20px;
  -webkit-box-shadow: 0px 0px 10px rgba(251, 59, 101, 0.466);
          box-shadow: 0px 0px 10px rgba(251, 59, 101, 0.466);
  margin-right: 30px;
  left: calc(50% - 80px);
  margin-top: 10px;
}

.Section4 button:hover {
  color: black;
}

.Section4 button:last-child {
  background: #08A6E4;
  -webkit-box-shadow: 0px 0px 10px rgba(8, 166, 228, 0.466);
          box-shadow: 0px 0px 10px rgba(8, 166, 228, 0.466);
}

.Section4 button:last-child:hover {
  background: transparent;
  border: 2px solid #08a6e4;
}

.Section5 {
  background: #F8F6F6;
}

.featureContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.featureContent div {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 250px;
  height: 200px;
  background: #FCFCFC;
  margin: 20px 0px 0px 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.featureContent div img, .featureContent div h1, .featureContent div p {
  color: black;
  font-size: 18px !important;
  font-weight: 700;
}

.featureContent div p {
  font-weight: 400;
  font-size: 12px !important;
}

.featureContent div img {
  width: 50px;
  width: 50px;
}

.Section5 .cont1 {
  border-bottom: 8px solid #4C60E1;
}

.Section5 .cont2 {
  border-bottom: 8px solid #FF5249;
}

.Section5 .cont3 {
  border-bottom: 8px solid #FFCDAC;
}

.Section5 .cont4 {
  border-bottom: 8px solid #FFE470;
}

.Section5 .cont5 {
  border-bottom: 8px solid #00D7CE;
}

.Section5 .cont6 {
  border-bottom: 8px solid #69BFF5;
}

.featureContent div:hover {
  -webkit-box-shadow: 2px 6px 13px rgba(0, 0, 0, 0.13);
          box-shadow: 2px 6px 13px rgba(0, 0, 0, 0.13);
}

.plansCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.plansCont div {
  display: block;
  position: relative;
  border-radius: 10px;
  border: 1px solid #FB3B64;
  padding: 10px;
  text-align: center;
  line-height: 40px;
  width: 350px;
  margin: 20px 30px 20px 0px;
  float: left;
}

.plansCont div h5 {
  margin-bottom: 40px;
}

.plansCont div h1 {
  font-size: 50px;
  margin: 15px 0px 15px 0px;
  font-weight: 400;
}

.plansCont div button {
  position: absolute;
  top: calc(100% - 25px);
  left: calc(50% - 60px);
}

.Section6 .plan1 h1 {
  color: #FB3B64;
}

.Section6 .plan1:hover {
  -webkit-box-shadow: 5px 8px 30px rgba(251, 59, 101, 0.17);
          box-shadow: 5px 8px 30px rgba(251, 59, 101, 0.17);
}

.Section6 .plan1 button:hover {
  background: white;
  color: black;
  -webkit-box-shadow: 5px 8px 30px rgba(251, 59, 101, 0.274);
          box-shadow: 5px 8px 30px rgba(251, 59, 101, 0.274);
}

.Section6 .plan2 {
  border: 1px solid #08A6E4;
}

.Section6 .plan2 h1 {
  color: #08A6E4;
}

.Section6 .plan2:hover {
  -webkit-box-shadow: 5px 8px 30px rgba(8, 166, 228, 0.17);
          box-shadow: 5px 8px 30px rgba(8, 166, 228, 0.17);
}

.Section6 .plan2 button {
  background: #08A6E4;
}

.Section6 .plan2 button:hover {
  border: 2px solid #08A6E4;
  background: white;
  color: black;
  -webkit-box-shadow: 5px 8px 30px rgba(8, 166, 228, 0.274);
          box-shadow: 5px 8px 30px rgba(8, 166, 228, 0.274);
}

.Section6 .plan3 {
  border: 1px solid #5BDDAF;
}

.Section6 .plan3 h1 {
  color: #5BDDAF;
}

.Section6 .plan3:hover {
  -webkit-box-shadow: 5px 8px 30px rgba(91, 221, 176, 0.17);
          box-shadow: 5px 8px 30px rgba(91, 221, 176, 0.17);
}

.Section6 .plan3 button {
  background: #5BDDAF;
}

.Section6 .plan3 button:hover {
  border: 2px solid #5BDDAF;
  background: white;
  color: black;
  -webkit-box-shadow: 5px 8px 30px rgba(91, 221, 176, 0.274);
          box-shadow: 5px 8px 30px rgba(91, 221, 176, 0.274);
}

.fas {
  margin-right: 5px;
}

.available {
  color: #5BDDAF;
}

[class*=Info] {
  position: relative;
  padding: 60px 20px 20px 20px;
  border-radius: 20px;
  border: 1px solid;
  max-width: 400px;
  background: white;
}

[class*=Info] div {
  margin-bottom: 50px;
}

[class*=Info] h1 {
  position: absolute;
  top: 45px;
  left: 20px;
  z-index: 3;
}

[class*=Info] span {
  position: absolute;
  font-size: 75px;
  z-index: -1;
  left: calc(50% - 10px);
  top: -38px;
  opacity: .5;
}

[class*=Info] p {
  font-size: 12px;
}

.Info1 {
  border-color: #FB3B64;
  margin-top: 50px;
  margin-left: 40%;
}

.Info1 span {
  color: #FB3B64;
}

.Info2 {
  border-color: #08A6E4;
  margin-top: 50px;
  margin-left: 60%;
}

.Info2 span {
  color: #08A6E4;
}

.Info3 {
  border-color: #5BDDAF;
  margin-top: 50px;
  margin-left: 40%;
}

.Info3 span {
  color: #5BDDAF;
}

.Section8 {
  background: #071828;
  min-height: 300px;
  height: auto;
  color: white;
}

.Section8 .Intro {
  text-align: center;
}

.SubscribeField {
  margin-top: 40px;
  position: relative;
}

.SubscribeField input {
  width: 200px;
  height: 40px;
  font-size: 12px;
  padding: 4px 140px 0px 25px;
  border-radius: 35px;
  outline: none;
  border: 0px;
}

.SubscribeField button {
  position: absolute;
  left: calc(50% + 57px);
  top: .79px;
  padding: 10px 30px;
}

.SubscribeField button:hover {
  background: white;
  color: black;
}

.ContactForm {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
}

.ContactForm form {
  position: relative;
  -webkit-box-flex: .8;
      -ms-flex-positive: .8;
          flex-grow: .8;
}

.ContactForm form div {
  width: 100%;
  display: block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ContactForm input, .ContactForm textarea {
  height: 40px;
  padding: 5px 10px;
  display: block;
  width: 45%;
  margin-bottom: 10px;
  border: 1px solid #FB3B64;
  outline: none;
  border-radius: 3px;
  background: transparent;
}

.ContactForm input:focus, .ContactForm textarea:focus {
  -webkit-box-shadow: 5px 4px 10px rgba(251, 59, 101, 0.17);
          box-shadow: 5px 4px 10px rgba(251, 59, 101, 0.17);
}

.ContactForm textarea {
  padding-top: 10px;
  max-width: calc(100% - 20px);
  min-width: calc(100% - 20px);
  height: 150px;
}

.ContactForm button:hover {
  color: black;
}

.Section10 {
  position: relative;
  background: #13253B;
  min-height: 350px;
  color: white;
  font-size: 13px;
}

.Section10 a {
  text-decoration: none;
  color: white;
}

.Section10 i {
  cursor: pointer;
  font-size: 30px;
  color: #FB3B64;
  -webkit-box-shadow: 0px 1px 4px rgba(251, 59, 101, 0.17);
          box-shadow: 0px 1px 4px rgba(251, 59, 101, 0.17);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Section10 i:hover {
  color: #08a6e4;
  -webkit-box-shadow: 5px 8px 30px rgba(8, 166, 228, 0.17);
          box-shadow: 5px 8px 30px rgba(8, 166, 228, 0.17);
}

.Section10 i:active {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

.Section10 .social span {
  margin-right: 20px;
}

.Section10 .Content {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.shortCuts {
  line-height: 40px;
  margin-bottom: 80px;
}

.shortCuts div a {
  display: block;
}

.shortCuts div a:hover {
  color: #08a6e4;
}

.shortCuts div {
  float: left;
  margin-left: 30px;
}

footer {
  position: absolute;
  width: 100%;
  padding: 30px 0px;
  text-align: center;
  background: #071828;
  color: white;
  font-size: 12px;
  top: 100%;
}
/*# sourceMappingURL=sassStyles.css.map */